{% extends 'base.html' %}


{% block body %}
<div class="row my-md-5">

    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}

    <div class="container">
        <div class="row">
            <div class="col-sm p-3 text-center bg-info border-right border-dark">
                Task
            </div>
            <div class="col-sm p-3 text-center bg-info border-right border-dark">
                Added
            </div>
            <div class="col-sm p-3 text-center bg-info">
                Actions
            </div>
        </div>

        {% for task in tasks %}

        <div class="row">
            <div class="col-sm p-3 border-left border-right border-bottom border-muted">
                {{ task.content }}
            </div>
            <div class="col-sm p-3 border-right border-bottom border-muted">
                {{ task.date_created.date() }}
            </div>
            <div class="col-sm p-3 border-right border-bottom border-muted">
                <a href="/delete/{{task.id}}">Delete</a> &nbsp;
                <a href="/update/{{task.id}}">Update</a>
            </div>
        </div>

        {% endfor %}

    </div>

    {% endif %}

    <div class="container p-3">
        <div class="form-inline">
            <form action="/" method="POST">
                <input type="text" name="content" class="form-control" id="content">
                <input type="submit" class="btn btn-primary" value="Add Task">
            </form>
        </div>
    </div>

</div>
{% endblock %}