{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content p-5  justify-content-center align-items-center">
    <div class="form mb-3">
        <label for="exampleDropdownFormEmail2">Update task</label>
    </div>
    <form action="/update/{{task.id}}" method="POST">
        <input type="text" class="form-control w-50  mb-2" name="content" id="content" value="{{task.content}}">
        <input type="submit" class="btn btn-primary w-50" value="Update">
    </form>

</div>
{% endblock %}